version: '3.1'
services:
  mysql:
    image: mysql:5.6
    container_name: mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
      MYSQL_DATABASE: teste
    volumes:
      - ./dbdados:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    ports:
      - 80:80
    environment:
      PMA_ARBITRARY: 1
    depends_on:
      - mysql  


networks:
  default:
    driver: bridge  
    name : backend
#networks:
#  default:
#    external:
#      name: external-example

#docker network create external-example                     Criar rede entre containers
#docker-compose -f docker-compose-mysql.yml up -d  


